let mapleader = " "

"set noshowmode

"Search
set ignorecase
set hlsearch
set incsearch "Display the match for a search pattern when halfway typing it.

set number relativenumber "nu rnu

" Share the Systemclipboard
set clipboard=unnamedplus

" ### ideavim ###
set surround
" Commands: ys, cs, ds, S

set multiple-cursors
  " Commands: <A-n>, <A-x>, <A-p>, g<A-n>
set commentary
  "Commands: gcc, gc + motion, v_gc
set easymotion
map <Leader> <Plug>(easymotion-prefix)
  " activates, that only one <Leader> is needed
map <Leader>w <Plug>(easymotion-bd-w)
map <Leader>W <Plug>(easymotion-bd-W)
map <Leader>j :action MethodDown<CR>
map <Leader>k :action MethodUp<CR>
map <Leader>va :action EditorSelectWord<CR>
map <Leader>fs :action FileStructurePopup<CR>
  " todo addition: Clear clipboard + yank current selection , then this script + paste"
map <Leader>sr :%s///gcI<left><left><left><left><left>
map <Leader>re :action RenameElement<CR>
map <Leader>ne :action GotoNextError<CR>
map <Leader>pe :action GotoPreviousError<CR>
map <Leader>mk :action MoveStatementUp<CR>
map <Leader>mj :action MoveStatementDown<CR>

" TODO not working.."
map <Leader>nd :action NextDiff<CR>
map <Leader>pd :action PreviousDiff<CR>

" Todo open Actions:"
  " maybe not with vim.. but with C-S-..."
" Maybe: toggle breakpoint, Commit, push, fetch, Type-Hierachie, Super Method
