"let mapleader = " "
syntax on
filetype plugin indent on
set encoding=utf-8

syntax enable
"set background=dark
"colorscheme solarized

set laststatus=2
set noshowmode

"Search
set ignorecase
set hlsearch
set incsearch "Display the match for a search pattern when halfway typing it.

set nomodeline "for Security. Otherwise the first x Lines, would be interpreted by VIM as possible commands

" Tabs to Space and length 2
set tabstop=2
set shiftwidth=2
set shiftround
set expandtab

" Display extra whitespace
" set list listchars=tab:»·,trail:·,nbsp:·

set number relativenumber "nu rnu
set showcmd


" this plugin makes the "%" command jump tomatching HTML tags, if/else/endif
packadd! matchit
